@media screen and (max-width: 767px) {
  .logo {
    margin-top: -.7rem;
    text-align: right;
  }

  .hamburger-menu {
    display: unset;
  }

  .navigation {
    display: none;
  }

  .learn-more > .image {
    margin-top: 5rem;
  }

  .learn-more > .image > img {
  max-width: 15rem;
  max-height: 20rem;
  }

  .header {
    margin-left: 2rem;
  }

  .plans, .under-plans, .steps, .learn-more {
    align-items: center;
    margin-left: 0;
    flex-direction: column;
  }

  .lets-start-button {
    margin-top: 58rem;
  }

  .plans-page > h1 {
    padding-top: 9rem;
  }

  .plans, .under-plans {
    margin-left: 5rem;
  }

  .plan {
    margin-top: 1rem;
  }

  .plans-page {
    height: 250vh;
    background-size: 210% 100%;
  }

  .feedbacks {
    margin-left: -5.5rem;
    text-align: center;
    margin-top: 6rem;
  }

  .card {
    width: 22rem;
  }

  .contact {
    margin-top: 0;
    height: 75vh;
    background-size: 100% 120%;
  }

  .form-container {
    margin-left: 1rem;
    flex-direction: column;
  }
}